In [1]:
import numpy             as np
import pandas            as pd
import matplotlib.pyplot as plt

In [3]:
stock_price = pd.read_csv('Q1_dataset.csv')

In [4]:
stock_price.info()

           Date    Close
0      1/2/2018  1065.00
1      1/3/2018  1082.48
2      1/4/2018  1086.40
3      1/5/2018  1102.23
4      1/8/2018  1106.94
5      1/9/2018  1106.26
6     1/10/2018  1102.61
7     1/11/2018  1105.52
8     1/12/2018  1122.26
9     1/16/2018  1121.76
10    1/17/2018  1131.98
11    1/18/2018  1129.79
12    1/19/2018  1137.51
13    1/22/2018  1155.81
14    1/23/2018  1169.97
15    1/24/2018  1164.24
16    1/25/2018  1170.37
17    1/26/2018  1175.84
18    1/29/2018  1175.58
19    1/30/2018  1163.69
20    1/31/2018  1169.94
21     2/1/2018  1167.70
22     2/2/2018  1111.90
23     2/5/2018  1055.80
24     2/6/2018  1080.60
25     2/7/2018  1048.58
26     2/8/2018  1001.52
27     2/9/2018  1037.78
28    2/12/2018  1051.94
29    2/13/2018  1052.10
..          ...      ...
180   9/19/2018  1171.09
181   9/20/2018  1186.87
182   9/21/2018  1166.09
183   9/24/2018  1173.37
184   9/25/2018  1184.65
185   9/26/2018  1180.49
186   9/27/2018  1194.64
187   9/28/2018  1193.47
188   10/1/2018  1195.31
189   10/2/2018  1200.11
190   10/3/2018  1202.95
191   10/4/2018  1168.19
192   10/5/2018  1157.35
193   10/8/2018  1148.97
194   10/9/2018  1138.82
195  10/10/2018  1081.22
196  10/11/2018  1079.32
197  10/12/2018  1110.08
198  10/15/2018  1092.25
199  10/16/2018  1121.28
200  10/17/2018  1115.69
201  10/18/2018  1087.97
202  10/19/2018  1096.46
203  10/22/2018  1101.16
204  10/23/2018  1103.69
205  10/24/2018  1050.71
206  10/25/2018  1095.57
207  10/26/2018  1071.47
208  10/29/2018  1020.08
209  10/30/2018  1036.21

[210 rows x 2 columns]